﻿@model Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Product";
}

<div class="row align-items-center">
    <div class="col">
        <img src=""/>
    </div>
    <div class="col">
        <div class="row">
            <h1>@Model.Name</h1>
            <h2>@Model.CategoryId</h2>
            <p>@Model.Desc</p>
            <p>@Model.Stock</p>
            <p>@Model.Price</p>
            <p>@Model.LastUpdate</p>
            <a asp-controller="Product" asp-action="IndexAdmin" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </div>
</div>