﻿@using IdentityAppScafoldOnBoarding.ViewModels
@model ProductUpdateViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Product";
}

<form method="post" asp-action="Update">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Product</h2>
            <hr/>
        </div>
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="CategoryId"/>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Desc"></label>
            <input asp-for="Desc" class="form-control"/>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stock"></label>
            <input asp-for="Stock" class="form-control"/>
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
@*        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control" disabled/>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Product" asp-action="IndexAdmin" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

