﻿@model PagedList.IPagedList<Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Category";
}

<div>
    <h1 class="display-4">Admin Page - Category Page</h1>
    <p>Category CRUD and Details product each category</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Add New Category
            </a>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
            <input type="submit" value="Search" /></p>
    }
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            @Html.ActionLink("Name", "IndexAdmin", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
          </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Name</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Update</a>
                    </div>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    <br />
@*    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("IndexAdmin", 
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
    </div>
</div>
