﻿﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>RentalParty Web, provide easy to rent party tools and materials</p>
</div>
