﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back
            </a>
        </div>
        <div class="col-sm-10">
            <h1>Category Name Product</h1>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        @foreach(var obj in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">@obj.Name</h5>
                    <h5 class="card-title">@obj.Desc</h5>
                    <h5 class="card-title">@obj.Stock</h5>
                    <h5 class="card-title">@obj.Price</h5>
                    <a asp-controller="Cart" asp-action="Create" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>